/** ACTIONS */
.actions {
  display: flex;
  flex-direction: column;
}

.action {
  border: 5px solid var(--dark-lava);
  background-color: var(--light-blue);
  color: var(--dark-lava);
  width: 80px;
  word-wrap: break-word;
  height: 80px;
  margin-bottom: 1em;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.action.disabled {
  opacity: 0.8;
  border: 5px solid var(--dark-lava-t);
  background-color: var(--light-blue-t);
}

.empty-action {
  border: 5px solid black;
  background-color: darkgray;
  width: 80px;
  word-wrap: break-word;
  height: 80px;
  margin-bottom: 1em;
  vertical-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
