@import 'ember-modal-dialog/ember-modal-structure.css';
@import 'ember-modal-dialog/ember-modal-appearance.css';
:root {
  /* CSS HEX */
  --black-chocolate: #261f18;
  --dark-lava: #423629;
  --raw-umber: #715d47;
  --dark-moss-green: #4f5d2f;
  --moss-green: #8aa34f;
  --earth-yellow: #d9ae61;
  --light-blue: #c4ebf6;

  /* CSS HSL */
  --dark-lava-t: hsla(31, 23%, 21%, 0.7);
  --raw-umber-t: hsla(31, 23%, 36%, 0.7);
  --dark-moss-green-t: hsla(78, 33%, 27%, 0.7);
  --moss-green-t: hsla(78, 35%, 47%, 0.7);
  --earth-yellow-t: hsla(39, 61%, 62%, 0.7);
  --light-blue-t: hsla(193, 74%, 87%, 0.7);
}

body {
  background-color: var(--dark-lava);
  image-rendering: pixelated;
}
.outer {
  background: paleturquoise;
  margin: 2em 3em;
  border-radius: 1em;
  padding: 1em;
}

.scene-background {
  width: 50%;
  border: 1px solid #221c1e;
  background: #221c1e;
  /* animation: over 3s ease-in-out infinite; */
}

.scene-background:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@keyframes over {
  0% {
    background-color: #221c1e;
  }
  10% {
    background-color: blue;
  }
  20% {
    background-color: paleturquoise;
  }
  80% {
    background-color: paleturquoise;
  }
  90% {
    background-color: blue;
  }
  100% {
    background-color: #221c1e;
  }
}

/* GAME-INTERFACE */
.ember-modal-overlay {
  background-color: hsla(193, 74%, 87%, 0.7);
}
.title {
  grid-area: header;
}
.main {
  grid-area: main;
}
.actions {
  grid-area: actions;
}
.stats {
  grid-area: stats;
  background-color: var(--moss-green);
}

.container {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas:
    'header header header'
    'actions main stats'
    'footer footer footer';
}

/* THERMOMETER */
.thermometer {
  width: 6px;
  height: 500px;
  margin: 10px auto;
  background-color: transparent;

  background-image: -webkit-linear-gradient(
    bottom,
    rgb(91, 216, 255),
    rgb(255, 0, 0)
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(91, 216, 255),
    rgb(255, 0, 0)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(91, 216, 255),
    rgb(255, 0, 0)
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(91, 216, 255),
    rgb(255, 0, 0)
  );
  background-image: linear-gradient(bottom, rgb(91, 216, 255), rgb(255, 0, 0));
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px 0 0 3px;
}
.thermometer:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-top: -0.5em;
  margin-right: -1em;
  background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
  background-image: -moz-linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
  background-image: -o-linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
  background-image: -ms-linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
  background-image: linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
}
.thermometer.done:after {
  background: Red;
}

/** weather box */
.scene {
  position: relative;
  background: black;
  padding: 3px;
}
.weather-box {
  width: 100%;
  height: 250px;
  display: block;
  background: var(--light-blue);
  position: relative;
}
.weather-box.running {
  animation: sky 1s infinite;
  animation-direction: alternate;
}
.ground-box {
  width: 100%;
  height: 250px;
  display: block;
  background: var(--raw-umber);
}
.ground-box.running {
  animation: ground 1s infinite;
  animation-direction: alternate;
}

@keyframes sky {
  from {
    background-color: #1a1f47;
  }
  to {
    background-color: var(--light-blue);
  }
}
@keyframes ground {
  from {
    background-color: var(--black-chocolate);
  }
  to {
    background-color: var(--raw-umber);
  }
}

.tree-icon {
  position: absolute;
  bottom: -70px;
  right: 70px;
  font-size: 200px;
}
.tree-stats {
  color: var(--light-blue);
}

/** ACTIONS */
.actions {
  display: flex;
  flex-direction: column;
}

.action {
  border: 5px solid var(--dark-moss-green);
  background-color: var(--moss-green);
  color: var(--earth-yellow);
  width: 80px;
  word-wrap: break-word;
  height: 80px;
  margin-bottom: 1em;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.action.disabled {
  border-color: var(--dark-moss-green-t);
  background-color: var(--moss-green-t);
}

.empty-action {
  border: 5px solid black;
  background-color: darkgray;
  width: 80px;
  word-wrap: break-word;
  height: 80px;
  margin-bottom: 1em;
  vertical-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
