:root {
  /* CSS HEX */
  --dark-lava: #423629;
  --dark-moss-green: #4f5d2f;
  --moss-green: #8aa34f;
  --earth-yellow: #d9ae61;
  --light-blue: #c4ebf6;

  /* CSS HSL */
  --dark-lava: hsla(31, 23%, 21%, 1);
  --dark-moss-green: hsla(78, 33%, 27%, 1);
  --moss-green: hsla(78, 35%, 47%, 1);
  --earth-yellow: hsla(39, 61%, 62%, 1);
  --light-blue: hsla(193, 74%, 87%, 1);
}

body {
  background-color: var(--dark-lava);
  image-rendering: pixelated;
}
.outer {
  background: paleturquoise;
  margin: 2em 3em;
  border-radius: 1em;
  padding: 1em;
}

.scene-background {
  width: 50%;
  border: 1px solid #221c1e;
  background: #221c1e;
  /* animation: over 3s ease-in-out infinite; */
}

.scene-background:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@keyframes over {
  0% {
    background-color: #221c1e;
  }
  10% {
    background-color: blue;
  }
  20% {
    background-color: paleturquoise;
  }
  80% {
    background-color: paleturquoise;
  }
  90% {
    background-color: blue;
  }
  100% {
    background-color: #221c1e;
  }
}

/* GAME-INTERFACE */
.title {
  grid-area: header;
}
.main {
  grid-area: main;
}
.actions {
  grid-area: actions;
}
.stats {
  grid-area: stats;
  background-color: var(--moss-green);
}

.container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header header header header'
    'actions main main stats'
    'footer footer footer footer';
}
