:root {
  /* CSS HEX */
  --black-chocolate: #261f18;
  --dark-lava: #423629;
  --raw-umber: #715d47;
  --dark-moss-green: #4f5d2f;
  --moss-green: #8aa34f;
  --earth-yellow: #d9ae61;
  --light-blue: #c4ebf6;

  /* CSS HSL */
  --dark-lava-t: hsla(31, 23%, 21%, 0.7);
  --raw-umber-t: hsla(31, 23%, 36%, 0.7);
  --dark-moss-green-t: hsla(78, 33%, 27%, 0.7);
  --moss-green-t: hsla(78, 35%, 47%, 0.7);
  --earth-yellow-t: hsla(39, 61%, 62%, 0.7);
  --light-blue-t: hsla(193, 74%, 87%, 0.7);
}

@keyframes over {
  0% {
    background-color: #221c1e;
  }
  10% {
    background-color: blue;
  }
  20% {
    background-color: paleturquoise;
  }
  80% {
    background-color: paleturquoise;
  }
  90% {
    background-color: blue;
  }
  100% {
    background-color: #221c1e;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sky {
  from {
    background-color: #1a1f47;
  }
  to {
    background-color: var(--light-blue);
  }
}
@keyframes ground {
  from {
    background-color: var(--black-chocolate);
  }
  to {
    background-color: var(--raw-umber);
  }
}
