{{#if (eq @mode 'select')}}
  <div class='actions'>

  </div>
{{else}}
  <div class='actions'>
    <Action @type='leaves' @tree={{@tree}} />
    <Action @type='mass' @tree={{@tree}} />
    <Action @type='roots' @tree={{@tree}} />
  </div>
{{/if}}