{{#if game.season.isRunning}}
  Day/night stuff
  {{#if game.pauseWaiter.isRunning}}
    <h4>
      Show pause screen
    </h4>
  {{/if}}
{{else}}
  <button {{on 'click' runSeason}}>Run Season</button>
  <button {{on 'click' nextSeason}}>Next Season</button>
{{/if}}

{{!-- <button {{on 'click' game.buttonTest}}>Foo event</button> --}}