<div>
  <div class='scene'>
    <div class='weather-box {{if @running 'running' 'paused'}}'>
      <Tree />
    </div>
    <div class='ground-box {{if @running 'running' 'paused'}}'>
      {{! TODO: did-update render a canvas here }}
      <canvas class='water-level'></canvas>

    </div>
  </div>
</div>