{{page-title 'About'}}
<div class='container'>
  <div class='title'>
    <h1>
      About
    </h1>
  </div>

  <div class='main'>
    <h3>What is this?</h3>
    <p>This is a game called "You Are A Tree" created by Chelsea Shaw in Summer
      of 2021 for a HashiCorp Hack Week.
    </p>
    <h3>What's going on?</h3>
    <p>You, the player, are a tree. The rest of the details are still being
      worked out but if you have feedback or ideas to make this game more fun,
      please fill out
      <a href='https://airtable.com/shrkFRF3TMgwZMpsw'>this form</a>!</p>
  </div>

</div>