{{page-title 'Play'}}
<LinkTo @route='play.one'>
  One
</LinkTo>
<LinkTo @route='play.two'>
  Two
</LinkTo>
<PlayButton />
{{!-- <h4>
  {{#if this.game.waiter.isRunning}}
    Please click somewhere...
  {{else}}
    Thanks!
  {{/if}}
</h4> --}}

{{outlet}}